/*** basic text styles ***/

body {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
/*  font-size: 14px;*/
  font-style: normal;
  font-weight: normal;
  color: #000;
  background-color: #fff;
}

tt, pre {
	color: #blue;
}
pre {
	background-color: #eee;
	padding: 4px;
}

a:link, a:visited, a:hover {
  color:#669;
}
a:hover {
  background-color: #f0f0f0;
}
a:active
{
  color: #ffc63b;
  background-color: #fff;
}
img
{
  border: 0;
  padding: 0;
  vertical-align: top;
}
#sitelogo
{
  margin: 0;
  border-bottom: 1px solid #fff;
  padding: 0;
  margin-bottom: 1px;
}
#sidebar {
/*  float: left;*/
  width: 160px;
  position: fixed;
  top: 5px;
  left: 8px;
  background-color: #f0f0f0;
}
#content {
  padding: 1em 2em 0;
  margin-left: 168px;
  background-color: #fff;
  min-width: 20em;
  max-width: 45em;
}

h1, h2, h3 {
  color:#942;
}
#content b{
  color:#900;
}
#content em{
  color:#933;
}
#content h1 {
  padding: 0 2em 0 0;
  margin-top: 0;
  text-align: center;
}
#content h1#hometitle {
  margin-top: 0.5em;
}
#content pre {
  margin-left: 6pt;
  margin-right: 6pt;
}
#content table {
  margin: 1em 6pt;
  padding: 0;
  border: none;
  border-collapse: collapse;
}
#content table td, #content table th {
  border: 2px solid #999;
  margin: 0;
  padding: 3px;
  vertical-align: top;
}
/*** sidebar styles ***/

#sitenavhead {
  padding: 4px 8px;
  background-color: #ccc;
  color: #555;
}
.navlist {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navlist li {
  display: inline;
  margin: 0;
  padding: 0;
}
.navlist a {
  display: block;
  margin: 0;
  padding: 3px 8px;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
.navlist a:link, .navlist a:visited {
  background-color: #f0f0f0;
}
.navlist a:hover {
  color: #d55a00;
  background-color: #d8d8d8;
}
.navlist a:active {
  color: #ffc63b;
  background-color: #fff;
}
.navlist a.sublink {
  padding-left: 16px;
}
#content
{
	text-align: justify;
}

#content h2 {
	margin-left: -8pt;
	margin-right: -8pt;
	padding-left: 0.2em;
	padding-right: 8pt;
	clear: both;
}
#content h2 {
	background: transparent url('ensamblingbox.png') no-repeat 99% 2pt;
	border: none;
	padding-right: 120px;
	border-bottom: grey solid 2pt;
	border-right: grey solid 2pt;
}

.figure {
	border: solid 1pt grey;
	display: block;
	text-align: center;
	background: #eee;
}
.rightfigure {
	border: solid 1pt grey;
	float: right;
	background: #eea;
	margin-left: 3em;
}
.abstract {
	padding:2em;
}
.todo {
/*	display: none;*/
	color: red;
	background-color: yellow;
	padding: 3pt;
}


.bibref
{
    position: relative; /*this is the key*/
    z-index:0;
}
.anno
{
    position: relative; /*this is the key*/
    z-index:0;
}
.bibref:hover
{
	z-index:25;
}
.anno:hover
{
	z-index:25;
}

* > span.tooltip
{
    display: none;
}
:hover > span.tooltip
{
	display: block;
	position: absolute;
	text-align: left;
	text-decoration: none;
	white-space: normal;
	padding: 1ex 1em;
	width: 20em;
	top: 1em;
	left: 1em;
	margin: auto;
	font-weight: normal;
	opacity: 0.9;
}
.bibref span.bibrefauthor
{
	display: block;
	font-weight: bold;
    color: green;
}

.bibref span.bibreftitle
{
	display: block;
	color: #922;
	font-weight: bold;
    font-style: italic;
}

.bibref:hover > span.tooltip:before
{
	float: right;
	content: url('stock_book_open.png');
	content: url('data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAEzUlEQVR42qWWXWgUVxTHfzOT3dnNZvOdDaaGaNG11aiFqG2tkRr6IdiaUCiBiggtFFuFUjQ+VCjSQh9KKS2t9KEfVrAtFRT0oamhjS2FWI2tJjHRGI1JzIe72U2yM9nNzu7O3D54N8QQobYHDhdmmPO7/3PuPWdgYdPq6+ufAUSOyy2Ap4BCwA2o/E/Ttm/f/qyvoFgcPnJc/NF2YQIQQBAoBlyA8l+Dq8AaX0GxeO+Tb0QsFhPdV6+JXH+hAHYBSwDff1WhAmuKyheLDz77VkxOTYn+/n7R3d0tvjxy7IpUsRYofRAV6py1Or+kvGP/wfd5Y2cDkfFxIpEIpmmyemVwVV5BCUA1kCdr8a8BKlBdWrGkY0/Tu9beXS8xOjLC5OQkHo+HdDqNK0dj95t7WoFjgB/wAjnyW2UBvwewqrwq2LFn3zvGgd079FAohOM4pFIpMpkMtm1j2za1T9Qs9ReVZVUUSCW5EpZ1j1SXkwWpQOeu1/eG3nr15fxwKIRlWdi2jeM42LaN1+vFMAzMRNK945XGcE1NzffADSAKmEBc+gBwANgg4S5AUbfU7+Txx1b6Muk0lmURiUTuCWzbNlYqnRgJRUsbXnwhcPHiRYQQC3nZ01vqXgPqgDKpTtMGejsPzbgDYw3PbSo0TZO0BKmqSjwex+Vy0Xc7HC3Kcxc0NNQriUQCw5wmnkgQjydIpTMAhMPjAhR/c/NPW4AfgBkgqQKbRwb7qo6eaDYDgQBut3s2/z6fj8HhO2OZGSOwYf06BUD3eMjPz591XddRUBgaGlR+be8GiM09BCrQ8/fZU/x27vKEoijYto2maUxPT2Oa04Y5Y3nKigvUYDCIZVlEo1EMw8AwDCzLQtNUQuNhzl/qEW2tP6vAp0AGsAGhAkmgLjQyWPXdqZbpyspKNE3D7XbTe2v4pltJFzY2NgKg6zolJSXouj7rjm3T1vYnw6Eok6FhgEuy+EnAVoEU0NX+ywla2y5FVfXu3RsYHLrqdSlrN23cqNzNcRjDMEhZ1mzwHE1laOg2UTPJV4c/VjLpVBNgyDQlAUeVUmaAuonwaNXXx0/HKioqrMikUVT50CI1GAwCEAgE0HWdpEyTqiikUhl6rt/gfEcvscgd5PGdlApSgJMDOFkV55p/pKh00cST1cvMpZWL1mzbtg3LsrAsC0cI/H4/LpcLkQeKqhCKRJicTnLy6OcATXLnMSAh6yBy5I2eVXG980LrydPKWL7Pw/Nbt+LPy0PXdQBisRiapuHxenFsh5v9g5z5vZ2EOZXd/ZTcfVo2RzQJEHKNTYRuHwg8usnd0dWtPbx8hUhaaSVmxsn1ulFVFZ/Ph6qqdPdc40rfAB8d2o/j2E3ALeCOhKTmA+ba6b6OtvKSsvIlLS0t7s6+YS509Ymx8IS4MTQqpoyE4vXq9PTepP1yl2g7e0YBvgBCQESmx84Gm99yXbJblkqvAlYAW5avXr+5el0tLrfuLKtaTEYI8eHBvRqwD/gLGALCMtXO/QCKhOTKhpXtkD45zR4BaqvX1dbFzRi3ejvfBq4Ao1KBkS3u/QDZZ5q86jkS6JGwXAnLlZ04CUzIzmpkj+b8YPez7PDIDiXXHJgu36VlzmcWCs4D/B3Mh2UnmSML6iwUHOAfyqIygtirwoUAAAAASUVORK5CYII=');
}

.bibref:hover span.tooltip
{
	border: 1px solid #9cf;
	background-color:#cff;
	color:#000;
}

.anno:hover span.tooltip
{
	border: 1px solid #cf0;
	background-color:#ff9;
	color:#000;
}

a.anno:hover
{
	text-decoration: none;
}

a.bibref:hover
{
	text-decoration: none;
}

div.equation
{
	padding: 1ex;
	margin: 4pt auto; 
	text-align: center;
	border: solid 1pt #EEE;
}
.equation .eqnumber
{
	float: right;
}

img.inlineFormula
{
	vertical-align: middle;
}


