/*** basic text styles ***/

body {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
/*  font-size: 14px;*/
  font-style: normal;
  font-weight: normal;
  color: #000;
  background-color: #fff;
}

tt, pre {
	color: #blue;
}
pre {
	background-color: #eee;
	padding: 4px;
}

.todo {
	color: red;
	background-color: yellow;
	padding: 3pt;
}

a:link, a:visited, a:hover {
  color:#669;
}
a:hover {
  background-color: #f0f0f0;
}
a:active
{
  color: #ffc63b;
  background-color: #fff;
}
img
{
  border: 0;
  padding: 0;
  vertical-align: top;
}
#sitelogo
{
  margin: 0;
  border-bottom: 1px solid #fff;
  padding: 0;
  margin-bottom: 1px;
}
#logobar
{
  top: 0px;
  left: 8px;
/*  background-color: #f0f0f0; */
}
#sidebar {
/*  float: left;*/
  width: 160px;
  position: fixed;
  top: 5px;
  left: 8px;
  background-color: #f0f0f0;
}
#content {
  padding: 1em 2em 0;
  margin-left: 168px;
  background-color: #fff;
  min-width: 20em;
  max-width: 45em;
}

h1, h2, h3 {
  color:#942;
}
#content b{
  color:#900;
}
#content em{
  color:#933;
}
#content h1 {
  padding: 0 2em 0 0;
  margin-top: 0;
  text-align: center;
}
#content h1#hometitle {
  margin-top: 0.5em;
}
#content pre {
  margin-left: 6pt;
  margin-right: 6pt;
}
#content table {
  margin: 1em 6pt;
  padding: 0;
  border: none;
  border-collapse: collapse;
}
#content table td, #content table th {
  border: 2px solid #999;
  margin: 0;
  padding: 3px;
  vertical-align: top;
}
p#pagelink {
  margin-top: 1.5em;
  text-align: center;
}
/*** sidebar styles ***/

#sflogo {
  padding: 4px 8px;
  text-align: center;
}
#sflogo img {
  margin: 3px;
}
#sflogo a {
  background-color: #d8d8d8;
}
#sitenavhead {
  padding: 4px 8px;
  background-color: #ccc;
  color: #555;
}
.navlist {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navlist li {
  display: inline;
  margin: 0;
  padding: 0;
}
.navlist a {
  display: block;
  margin: 0;
  padding: 3px 8px;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
.navlist a:link, .navlist a:visited {
  background-color: #f0f0f0;
}
.navlist a:hover {
  color: #d55a00;
  background-color: #d8d8d8;
}
.navlist a:active {
  color: #ffc63b;
  background-color: #fff;
}
.navlist a.sublink {
  padding-left: 16px;
}
#content
{
	text-align: justify;
}

#content h2 {
	margin-left: -8pt;
	margin-right: -8pt;
	padding-left: 0.2em;
	padding-right: 8pt;
	clear: both;
}
#content h2 {
	background: transparent url('ensamblingbox.png') no-repeat 99% 2pt;
	border: none;
	padding-right: 120px;
	border-bottom: grey solid 2pt;
	border-right: grey solid 2pt;
}

.figure {
	border: solid 1pt grey;
	display: block;
	text-align: center;
	background: #eee;
}
.rightfigure {
	border: solid 1pt grey;
	float: right;
	background: #eea;
	margin-left: 3em;
}

.bibref
{
    position: relative; /*this is the key*/
    z-index:24;
}

a.bibref span.tooltip
{
    display: none;
}

a.bibref:hover
{
    z-index:25;
	text-decoration: none;
}

a.bibref:hover span.tooltip
{
	display: block;
	position: absolute;
	text-align: left;
	text-decoration: none;
	white-space: normal;
	padding: 1ex 1em;
	width: 20em;
	top: 1em;
	left: 1em;
	margin: auto;
	font-weight: normal;
	border: 1px solid #0cf;
	background-color:#cff;
	color:#000;
	opacity: 0.8;
}
a.bibref:hover span.tooltip *
{
	text-decoration: none;
}

a.bibref span.tooltip span.bibrefauthor
{
	display: block;
	font-weight: bold;
    color: green;
}

a.bibref span.tooltip span.bibreftitle
{
	display: block;
	color: #922;
	font-weight: bold;
    font-style: italic;
}

a.bibref:hover span.tooltip:before
{
	float: right;
	content: url(stock_book_open.png);
}
/*
a.bibref:hover span.tooltip
{
	background-image: url(stock_book_open.png);
	background-repeat: no-repeat;
	background-position: 5px 1ex;
}
*/

.equation
{
	width: 100%;
}
.equation div
{
	text-align: center;
	width:100%;
}
.equation b
{
	text-align: left;
}



